.container{
	display:grid;
	grid-template-columns:1fr 2fr 1fr;
	grid-template-rows:2fr 2fr 4fr 1fr;

}


.bannerContainer{
	position:relative;
	grid-column:2/3;
	grid-row:1/2;
}

.bannerTextContainer{
	position:absolute;
	margin-top:auto;
	margin-bottom:auto;
	top:0;
	bottom:0;
	display:flex;
	justify-content:center;
	width:100%;
	align-items:center;
	text-shadow: 0px 3px black;
}

.bannerTextContainer > p{
	text-align:center;
	font-size:500%;
	color:white;
	position:absolute;
	margin-top:auto;
	margin-bottom:auto;
}


#bannerImage{
	width:100%;
	height:100%;
}


#footerBackground{
	background-image: url("../images/footerImage.png");
	 background-size: 100% 100%;
}


.content1{
	background-color:#bd997f;
	grid-column:1/4;
	grid-row:2/3;
	display:flex;
	justify-content:center;
	box-shadow: 8px 8px 16px 8px rgba(0,0,0,0.2), 6px 6px 10px 10px rgba(0,0,0,0.19);
}

.keyboardContainer{
		margin-top:auto;
		margin-bottom:auto;
}

.keyboardContainer > span{
		position:relative;
}

.keyboardContainer > div{
		text-align:center;
		font-size:30px;
		color:white;
		text-shadow: 0px 3px black;
}

.keyBlackContainer{
		position:absolute;
		left:28px;
		bottom:75px;
}

.hitbox1
{
	position:absolute;
	height:70px;
	width:30px;
	bottom:5px;
	left:0px;
}

.hitbox2
{
	position:absolute;
	height:130px;
	width:20px;
	bottom:80px;
	left:0px;
}

.hitbox3
{
	position:absolute;
	height:130px;
	width:10px;
	bottom:80px;
	left:12px;
}

.hitbox4
{
	position:absolute;
	height:130px;
	width:20px;
	bottom:80px;
	right:5px;
}

.contentContainer{
	grid-column:2/3;
	grid-row:3/4;
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
	
}


.contentSub1{
	text-align:center;
	height:80%;
}

.contentSlideshow{
	position:relative;
	height:100%;
	width:50em;
	display:flex;
	justify-content:center;
}



#slideshowRight{
	margin-top:auto;
	margin-bottom:auto;

}

#slideshowLeft{
	margin-top:auto;
	margin-bottom:auto;

}

#slideshowIndicator{
	position:absolute;
	bottom:0%;
	height:1em;
	width:6em;
	display:flex;
	justify-content:center;
}

#slideshowIndicator > span{
	margin:0 0.5em;
	height:1em;
	width:1em;
	border-radius:50%;
	background-color:lightgrey;
	flex:1;
}



.dotSelected{
	background-color:grey !important;
}

#slideshowLeft > img{
	width:100%;
	height:5em;
	transform:scaleX(-1);
}

#slideshowRight > img{
	width:100%;
	height:5em;
}

#pianoWorksImage{
	position:relative;
	height:70%;
	width:50em;
}

#pianoWorksBackground{
	position:absolute;	
	width:100%;
}


#pianoWorksKey{
	position:absolute;	
	width:90%;
	top:240px;
	left:90px;
}

#pianoWorksKeyPopup{
	position:absolute;	
	width:30%;
	top:200px;
	right:-100px;
}

#pianoWorksHammer{
	position:absolute;
	height:10px;
	width:10px;
	top:140px;
	left:340px;
	
}

#pianoWorksHammerPopup{
	position:absolute;	
	width:20%;
	top:90px;
	right:330px;
}



#pianoWorksHammer > img{
	position:absolute;
	right:-25px;
	top:-25px;

}

/*Image needs to be offset from a div container's position so that it will rotate nicely around a pivot point rather then the center of the image*/

#pianoWorksDamper{
	position:absolute;
	top:0px;
	left:30px;
	width:19%;
	
}

#pianoWorksDamperPopup{
	position:absolute;
	top:-30px;
	left:-80px;
	width:20%;
	
}



#pianoWorksDamperLever{
	position:absolute;
	top:270px;
	left:30px;
	height:10px;
	width:10px;	
}

#pianoWorksDamperLever > img{
	position:absolute;
	top:-20px;
	left:-4px;
	
}

/*Image needs to be offset from a div container's position so that it will rotate nicely around a pivot point rather then the center of the image*/

#pianoWorksDesc{
	text-align:center;
	height:30%;
}

.contentSub2{
	height:80%;
	display:block:
}


.contentButtons{
	flex:100%;
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
	height:20%;
	
}

.contentButtons > button{
	flex:50%;
	background-color:#d4ac8f;
	font-size:50px;
	color:white;
	text-shadow: 0px 3px black;
}

.contentButtons > button:hover{
	background-color:#eec5a9;
	
}

.hideContent
{
	display:none;
}

.showContent
{
	display:;
}


.footer{
	background-color:#bd997f;
	grid-column:1/4;
	grid-row:4/5;
	display:flex;
	justify-content:center;
	box-shadow: 8px 8px 16px 8px rgba(0,0,0,0.2), 6px 6px 10px 10px rgba(0,0,0,0.19);
}


.footer > div {
	margin-top:auto;
	margin-bottom:auto;
	color:white;
	text-align:center;
	font-size:20px;
	
}


.footerImage{
	display:flex;
	flex:2;
}

.footerImage > img {
	position:relative;
	margin:0 4em;
	height:50%;
}

#footerText{
	flex:1;
}


body{
	background-color:#ecbf9f;
	
}

@media screen and (max-width:800px)
{
	.footerImage > img {
	margin:0 0;
	}
	
	.contentButtons > button{
	flex:100%;
	}
	
}